.project-controls {
 display: none !important;
 }

#mobileNav, #mobileMenuLink, #topNav {
   display: none !important;
   /*border-top: 4px solid #ededed;*/
 }


#header {
  margin-top: 5px;
  margin-bottom: 20px;
  background-image: url("http://imgur.com/0f1Psbx.png");
  background-repeat: no-repeat;
      background-position: left top;
  height: 75px;
}

.page-open #projectThumbs {
  padding-top: 60px;
  border-top: 4px solid #ededed;
}

h3:first {
  margin-top: 0;
}

h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

 .sqs-block.image-block .image-caption-wrapper p { 
   font-size: 17px; 
 }